html, body {
    height: 100%;
    margin: 0;
}

/* tela inteira */
.container_login {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(180deg, #818883, #2F7D4F);

    color: white;
    gap: 20px;
}

/* form */
.form_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.box_login {
    background-color: white;
    padding: 40px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 300px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* inputs */
.box_login input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.box_login input:focus {
    border-color: #4DA768;
}

/* botão */
.box_login button {
    padding: 10px;
    border: none;
    border-radius: 6px;

    background-color: #2F7D4F;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: 0.2s;
}

.box_login button:hover {
    background-color: #25663f;
}
